---
# Security role handlers

- name: restart sshd
  systemd:
    name: ssh
    state: restarted
  listen: restart sshd

- name: restart fail2ban
  systemd:
    name: fail2ban
    state: restarted
  listen: restart fail2ban
